<form method="post" action="{{ path('prestation_organization_delete', {'id': prestation_organization.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestation_organization.id) }}">
    <button class="btn">Supprimer</button>
</form>
