<form method="post" action="{{ path('prestation_organization_delete', {'id': prestation_organization.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestation_organization.id) }}">
    <button class="btn">Delete</button>
</form>
