{% extends 'base.html.twig' %}

{% block title %}Nouveau type d'organisation{% endblock %}

{% block body %}
    <h1>Nouveau type d'organisation</h1>

    {{ include('prestation_organization/_form.html.twig') }}

    <a href="{{ path('prestation_organization_index') }}">retour à la liste</a>
{% endblock %}
