<form method="post" action="{{ path('user_category_delete', {'id': user_category.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_category.id) }}">
    <button class="btn">Supprimer</button>
</form>
