{% extends 'base.html.twig' %}

{% block title %}Nouvelle Jauge{% endblock %}

{% block body %}
    <h1>Nouvelle Jauge</h1>

    {{ include('prestation_gauge/_form.html.twig') }}

    <a href="{{ path('prestation_gauge_index') }}">retour à la liste</a>
{% endblock %}
