{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #prestation_startDate_time {
            display:none;
        }
        #prestation_endDate_time {
            display:none;
        }
    </style>    
{% endblock %}

{% block title %}Nouvelle Prestation{% endblock %}

{% block body %}
    <h1>Nouvelle Prestation</h1>

    {{ include('prestation/_form.html.twig') }}

    <a href="{{ path('prestation_index') }}">retour à la liste</a>
{% endblock %}
