{% extends "template.html.twig" %}

{% block main %}

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{{ asset('img/apple-touch-icon-60x60.png') }}" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="">Agenda</a></li>
                <li><a class="nav-link" href="">Discussion</a></li>
                <li><a class="nav-link" href="">Documents</a></li>
            </ul>
            <div class="form-inline text-white">
                <a class="btn btn-outline-info my-2 my-sm-0" href="" type="button">Connexion</a>
            </div>
        </div>
    </nav>    
    <!-- end navigation bar -->

    <!-- main -->
        {% block body %}{% endblock %}
    <!-- end main -->

    <!-- footer -->
    <footer class="jumbotron jumbotron-fluid text-white bg-dark mt-4 mb-0">
        <div class="container">
            <p class="lead text-align-center"><strong>Up Side Down</strong> Copyright © 2020</p>
        </div>
    </footer>
    <!-- end footer -->

{% endblock %}


