{% extends 'base.html.twig' %}

{% block title %}Edit PrestationObject{% endblock %}

{% block body %}
    <h1>Edit PrestationObject</h1>

    {{ include('prestation_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prestation_object_index') }}">back to list</a>

    {{ include('prestation_object/_delete_form.html.twig') }}
{% endblock %}
